@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import '../globalStyles/_colorPalette.scss';

body {
  background: $darker-color;
  color: $font-color;
  font-family: Roboto, sans-serif;
}

.epg-channels-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  img {
    max-height: 50px;
    max-width: 100px;
  }

}

.epg-channel-wrapper {
  background: $primary-color;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 10px 0;
  padding: 0;
}

.epg-channel-logo {
  background-color: $primary-color;
  -webkit-box-shadow: 10px 0 15px 5px $darker-color;
  -moz-box-shadow: 10px 0 15px 5px $darker-color;
  box-shadow: 10px 0 15px 5px $darker-color;
  z-index: 500;

}

.epg-channel-list {

  padding: 0;

  svg{
    font-size: 5rem;
  }

  p {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
  }
}



.epg-channel-logo-wrapper,
.epg-channel-list__series--current,
.epg-channel-list__series--next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.epg-channel-list__series--current {
  border-bottom: 1px solid $lighter-accent;
  transition: all .3s linear;
  &:hover{
    box-shadow: inset 0px -150px 0px 0px $lighter-accent;
  }
}

.epg-channel-list__series--next {
  border-bottom: 1px solid $darker-accent;
  transition: all .3s linear;
  &:hover{
    box-shadow: inset 0px -150px 0px 0px $darker-accent;
  }
}






