@import '../globalStyles/_colorPalette.scss';

footer {
  background: $primary-color;
  color: $lighter-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 50px;

  svg{
    color: $lighter-accent;
  }
}